/* body {
    background-color:transparent;
    
    }  */

    html,
body,
header,
#intro {
    height: 100%;
}

h1 {
color:rgb(77, 6, 49);
}

#images {
  
  box-shadow: 7px 7px 1px rgb(112, 111, 111);
}


#intro {
    background: url("http://www.mjc-montastruc.fr/s/img/emotionheader11467520_1.jpg?1523374293.898px.224px");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

  #new {
    cursor: pointer;
   
}
