<div class="row justify-content-center align-items-center">

  <div [hidden]="submitted" style="width: 400px;">
    <form>
      <h2>Voir un user</h2>
      <br>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="form-group">

              <label for="id">Id :</label>
              <input type="text" name="id" class="form-control" id="id" placeholder="{{user.id}}" readonly>

              <label for="nom">Nom :</label>
              <input type="text" name="nom" class="form-control" id="nom" placeholder="{{user.nom}}" readonly>

              <label for="prenom">Prenom :</label>
              <input type="text" name="prenom" class="form-control" id="prenom" placeholder="{{user.prenom}}" readonly>

              <label for="email">Email :</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="{{user.email}}" readonly>

              <label for="adresse">Adresse :</label>
              <input type="text" name="adresse" class="form-control" id="adresse" placeholder="{{user.adresse}}"
                readonly>

                <label for="entreprise">Entreprise :</label>
              <input type="text" name="entreprise" class="form-control" id="entreprise" placeholder="{{user.entreprise}}" readonly>

              <label for="role">Role :</label>
              <input type="text" name="role" class="form-control" id="role" placeholder="{{user.role.label}}" readonly>

            </div>

            <a name="" id="" class="btn btn-secondary" href="#" role="button" [routerLink]="['/user-list']">
              <fa-icon class="icon p-2" [icon]="faHome">Retour à la liste</fa-icon>
            </a>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>