<div class="row justify-content-center align-items-center">

    <div [hidden]="submitted" style="width: 400px;">
        <form (ngSubmit)="onSubmit()">
            <h2>Modifier un user</h2>
            <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="form-group">

                            <label for="nom">nom</label>
                            <input type="text" [(ngModel)]="user.nom" name="nom" id="nom" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="prenom">prenom</label>
                            <input type="text" [(ngModel)]="user.prenom" name="prenom" id="prenom" class="form-control"
                                readonly>
                        </div>
                        <!--     <div class="form-group">
                            <label for="password">mot de passe</label>
                            <input type="password" [(ngModel)]="user.password" name="password" id="password"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="cpassword">confirmez le mot de passe</label>
                            <input type="password" name="cpassword" id="cpassword" class="form-control">
                        </div>
                        -->

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" [(ngModel)]="user.email" name="email" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="adresse">Adresse</label>
                            <input type="text" [(ngModel)]="user.adresse" name="adresse" id="adresse"
                                class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="entreprise">Entreprise</label>
                            <input type="text" [(ngModel)]="user.entreprise" name="entreprise" id="entreprise"
                                class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="role">role</label>
                            <select name="role" id="role" [(ngModel)]="user.role.id" class="form-control">
                                <option *ngFor="let role of roles" [value]="role.id">{{role.label}}</option>
                            </select>
                        </div>

                        <a name="" id="" class="btn btn-secondary" href="#" role="button" [routerLink]="['/user-list']">
                            <fa-icon class="icon p-2" [icon]="faHome">Annuler</fa-icon>
                        </a>
                        &nbsp;
                        <button type="submit" class="btn btn-success">
                            <fa-icon class="icon p-2" [icon]="faCheckSquare">Valider</fa-icon>
                        </button>

                    </div>
                </div>
            </div>

        </form>
    </div>

</div>