<h2>Mettre à jour un role</h2>
<br>

<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
   
        <div class="form-group">
            <label for="label">Nouveau label :</label>
            <input type="text" class="form-control" id="label" placeholder="Entrer votre label" required [(ngModel)]="role.label"
                name="role">
        </div>

        <a name="" id="" class="btn btn-secondary" href="#" role="button" [routerLink]="['/role-list']">Annuler</a>

        <button type="submit" class="btn btn-success">Valider</button>
    </form>
</div>
