<div class="row justify-content-center align-items-center">

    <div [hidden]="submitted">
        <form>
            <h2>Ajouter une réservation</h2>
            <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10">

                        <div class="form-group">
                            <label for="dateValidation">Date de validation :</label>
                            <input type="date" name="dateValidation" class="form-control" id="dateValidation"
                                placeholder="Entrer la date de validation" [(ngModel)]="panierDto.dateValidation">
                        </div>

                        <div class="form-group">
                            <label for="numClient">Numero de client :</label>
                            <input type="text" name="type" class="form-control" id="numClient"
                                placeholder="{{userDto.numClient}}" readonly>
                        </div>

                        <div class="form-group">
                            <label for="manifestation">Manifestation :</label>
                            <input type="text" name="manifestation" class="form-control" id="manifestation"
                                [(ngModel)]="manifestationDto.label" readonly>
                        </div>

                        <div class="form-group">
                            <label for="prix">Prix du billet(en €) :</label>
                            <input type="text" name="prix" class="form-control" id="prix"
                                placeholder="{{manifestationDto.prixBillet|number:'.0-2'}}" readonly>
                        </div>

                        <div class="form-group">
                            <label for="nbreBillets">Nombre de billets:</label>
                            <input type="number" name="nbreBillets" class="form-control" id="nbreBillets"
                                placeholder="Entrer le nombre" [(ngModel)]="quantite">
                        </div>

                    </div>
                </div>
                <a name="" id="" class="btn btn-secondary" href="#" role="button"
                [routerLink]="['/public/manifestation-list']">
                <fa-icon class="icon p-2" [icon]="faHome" title="Annuler">Annuler</fa-icon>
            </a>
            &nbsp;
                <button (click)="add()" class="btn btn-primary">
                    <fa-icon class="icon p-2" [icon]="faCalendarPlus" title="Réserver une place">Réserver une place</fa-icon>
                </button>

            </div>

        </form>
    </div>
</div>