<h3>Liste des types de salle</h3>

<br>

<div class="panel-body">
    <table class="table table-striped table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let typesalle of typeSalles">



                <td>{{typesalle.id}}</td>
                <td>{{typesalle.label}}</td>

                <td>
                    <button *ngIf="isResp" (click)="redirectToShow(typesalle.id)" class="btn btn-sm btn-success">Show</button>
                    <button *ngIf="isResp" (click)="redirectToUpdate(typesalle.id)" class="btn btn-sm btn-warning">Update</button>
                    <button *ngIf="isResp" (click)="delete(typesalle.id)" class="btn btn-sm btn-danger">Delete</button>
                </td>

            </tr>

        </tbody>
    </table>

    <a name="" id="" class="btn btn-secondary" href="#" role="button" [routerLink]="['/typesalle-ad']">+ Ajouter un type
    </a> 

    <a name="" id="" class="btn btn-secondary" href="#" role="button" [routerLink]="['/public']">Retour à l'accueil </a>