<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<footer class="section footer-classic context-dark bg-image h-15" style="background: #2d3246;">
  <br>
        <div class="container">
          <div class="row row-15">
            <div class="col-md-3">
             <a class="brand" href="index.html"></a>
                <h5>Gestion culturelle</h5>
                <!-- Rights-->
                <p class="rights"><span>©</span>
                  <span class="copyright-year">2020</span>
                  <span>-</span><span>Afpa</span><span>.</span></p>
                  <p class="rights"><span>All Rights Reserved.</span></p>
            </div>
            <div class="col-md-6">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Address: <a href="mailto:#">98 South Park Avenue, Lille, France</a></dt>
              </dl>
                <dl class="contact-list">
                  <dt>email: <a href="mailto:#">contact@afpa.fr</a></dt>
                </dl>
              <dl class="contact-list">
                <dt>phones: <a href="tel:#">+33 6 23 87 09 65 </a></dt>
              </dl>
            </div>
            <div class="col-md-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner"  href="https://www.facebook.com/" title="www.facebook.com" target="_blank"><img src="../../assets/facebook.png" class="img-fluid" alt="" height="50px" width="50px"><span class="icon mdi mdi-facebook" ></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="https://www.instagram.com/?hl=fr" title="www.instagram.com" target="_blank"><img src="../../assets/instagram.png" class="img-fluid" alt="" height="50px" width="50px"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
          <div class="col"><a class="social-inner" href="https://twitter.com/explore" title="twitter.com" target="_blank"><img src="../../assets/twitter.png" class="img-fluid" alt="" height="60px" width="60px"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
          <div class="col"><a class="social-inner" href="https://www.google.fr/#cns=0" title="www.google.fr" target="_blank"><img src="../../assets/google.webp" class="img-fluid" alt="" height="50px" width="50px"><span class="icon mdi mdi-google"></span><span>google</span></a></div>
        </div>
      </footer>