<div class="container">
    <div class="row justify-content-center">
        <h2>Detail des réservations</h2>
    </div>
</div>

<br>
<div [hidden]="submitted">
    <form>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-2">
                    <div class="form-group">

                        <label for="numClient">N° Client :</label>
                        <input type="text" name="numClient" class="form-control" id="numClient"
                            placeholder="{{userDto.numClient}}" readonly>

                        <label for="date">Date :</label>
                        <input type="text" name="date" class="form-control" id="date"
                            placeholder="{{panierDto.dateValidation}}" readonly>
                    </div>

                </div>
            </div>
        </div>

    </form>
</div>
<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-1"></div>

        <div class="col-12">


            <div class="panel-body">
                <table class="table table-striped table-bordered " style="border:1px solid black;">
                    <thead class="thead-dark">
                        <tr>
                            <th>Manifestations</th>
                            <th>Prix du billet(en €)</th>
                            <th>Nombre de billets</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let article of listArticles">
                            <td>{{article.manifestation.label}}</td>
                            <td>{{article.manifestation.prixBillet|number:'.0-2'}}</td>
                            <td> {{article.quantite}}</td>
                            <td> <button (click)="delete(article.id)" class="btn btn-sm btn-danger" title="Effacer"><fa-icon [icon]="faTrashAlt">Delete</fa-icon></button>
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>

            <div [hidden]="submitted">
                <form>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="total">Total panier :</label>
                                    <input type="text" name="total" class="form-control" id="total"
                                        placeholder="{{panierDto.total|number:'.0-2'}}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="col-1"></div>
    </div>

</div>

<br>
<br>

<div class="container">
    <div class="row justify-content-center">
        <button (click)="cancel(panierDto.id)" class="btn btn-secondary"><fa-icon class="icon p-2" [icon]="faHome" title="Annuler les réservations">Annuler les réservations</fa-icon></button>
        &nbsp;
        <a name="" id="" class="btn btn-primary" href="#" role="button"
            [routerLink]="['/public/manifestation-list']" title="Reserver une manifestation"><fa-icon class="icon p-2" [icon]="faCalendarPlus">Reserver une autre manifestation</fa-icon></a>
        &nbsp;
        <button (click)="valid(panierDto.id)" class="btn btn-success" title="Valider les réservations"><fa-icon class="icon p-2" [icon]="faCalendarCheck">Valider les réservations</fa-icon></button>
    </div>
</div>
